@{
    Layout = "/Views/TaCertoForms/Layouts/CriarFaseLayout.cshtml";
}

<div class="container center-align">
    @ViewData["chave"]<br>
    @ViewData["chave"]<br>
    <h4>Aqui estaráo informações sobre o forms e os criadores.</h4>
@ViewData["chave"]    <br>
    @ViewData["chave"]<br>
    @ViewData["chave"]<br>
    @ViewData["chave"]<br>
    @ViewData["chave"]<br>
    @ViewData["chave"]<br>
    @ViewData["chave"]<br>
    <br>
</div>