@model TaCertoForms.Models.ViewModelAtividade

@{
    ViewBag.Title = "Create";
}
<div class="content-wrapper">
    <section class="content-header">
        <h1>Cadastro de Atividade</h1>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Início</a>
            </li>
            <li class="active">
                <a href="@Url.Action("Index", "Atividade")">Atividades</a>
            </li>
        </ol>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Novo Registro</h3>
                <a href="@Url.Action("Index", "Atividade")" class="btn btn-sm btn-default btn-flat pull-right">Voltar</a>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="box-body">
                    <div class="col-xs-12">
                        <div class="row">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group col-xs-12 col-md-3">
                                <div class="turmas">
                                    @Html.Label("Turma")
                                    @Html.DropDownList("Turma",
                                    new SelectList(new List<String>()),
                                    "Turma",
                                    new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-3">
                                <div class="disciplinas">
                                    @Html.Label("Disciplina")
                                    @Html.DropDownList("Disciplina",
                                    new SelectList(new List<String>()),
                                    "Disciplina",
                                    new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6">
                                @Html.Label("Período")
                                @Html.TextBox("Periodo", null, new { @class = "form-control", @type = "text", @id = "periodo" })
                                @Html.ValidationMessageFor(model => model.DataInicio, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-xs-12 col-md-6">
                                @Html.Label("Número de tentativas")
                                @Html.EditorFor(model => model.NumeroTentativas, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NumeroTentativas, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-xs-12 col-md-6">
                                @Html.Label("Título")
                                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-xs-12 col-md-3">
                                @Html.Label("É aleatório?")
                                @Html.DropDownList("IsAleatorio",
                                new List<SelectListItem> {
                                    new SelectListItem() { Text = "Sim", Value = true.ToString()},
                                    new SelectListItem() { Text = "Não", Value = false.ToString()}
                                },
                                null,
                                new { @class = "form-control", @id = "tabela-de-certo-erradoResposta" })
                            </div>
                            <div class="form-group col-xs-12 col-md-3">
                                @Html.Label("É prova?")
                                @Html.DropDownList("IsProva",
                                new List<SelectListItem> {
                                    new SelectListItem() { Text = "Sim", Value = true.ToString()},
                                    new SelectListItem() { Text = "Não", Value = false.ToString()}
                                },
                                null,
                                new { @class = "form-control", @id = "tabela-de-certo-erradoResposta" })
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="box-footer">
                    <input type="submit" value="Próximo" class="btn btn-primary pull-right" />
                </div>
            }
        </div>
    </section>
</div>

<script>    
    $(document).ready(function () {

        $('#periodo').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            locale: { format: 'DD/MM/YYYY hh:mm:ss' }
        });
    
        $('.turmas').on('change', '#turmas-select', function () {
            if ($(this).val() != '') {
                atualizar_disciplinas($(this).val());
            } else {
                $('#disciplinas-select').find('option').remove().end().append('<option value="">Disciplina</option>').val('');
            }
        });
        
        function atualizar_turmas() {
            $.ajax({
                url: '@Url.Action("AjaxTurmas", "Turma")',
                    data: {
                        IdInstituicao: '@Html.Raw(Session["IdInstituicao"])'
                },
                cache: false,
                dataType: 'html',
                success: function (data) {   
                    $('.turmas').html(data);
                },
                error: function () {
                    alert('Ocorreu algum erro de conexão. Por favor, tente novamente mais tarde');
                }
            });
        }
        atualizar_turmas();    

        function atualizar_disciplinas(IdTurma) {
            $.ajax({
            url: '@Url.Action("AjaxDisciplinas", "Disciplina")',
                data: {
                    IdTurma: IdTurma
            },
            cache: false,                
            dataType: 'html',
                success: function (data) {
                    console.log(data);
                $('.disciplinas').html(data);
            },
            error: function () {
                alert('Ocorreu algum erro de conexão. Por favor, tente novamente mais tarde');
            }
            });
        }
    });    
</script>