@model IEnumerable<TaCertoForms.Models.ViewModelAtividade>

@{
    ViewBag.Title = "Index";    
}
<div class="content-wrapper">
    <section class="content-header">
        <h1>Atividades</h1>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Início</a>
            </li>
            <li class="active">
                <a href="@Url.Action("Index", "Atividade")">Atividades</a>
            </li>
        </ol>
    </section>

    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Listagem de registros</h3>
                <a href="@Url.Action("Create", "Atividade")" class="btn btn-sm btn-primary btn-flat pull-right">Novo registro</a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Turma</th>
                            <th>Matéria</th>
                            <th>Período</th>
                            <th>Número de Tentativas</th>
                            <th>Questões Embaralhadas</th>
                            <th>Prova</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.nome_da_turma)</td>
                                <td>@Html.DisplayFor(modelItem => item.nome_da_materia)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataInicio) - @Html.DisplayFor(modelItem => item.DataFim)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumeroTentativas)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>@(item.IsAleatorio ? "Sim" : "Não")</td>
                                <td>@(item.IsProva ? "Sim" : "Não")</td>
                                <td>
                                    <a href="@Url.Action("Edit", "Atividade", new { id = item.IdAtividade })" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                    <a href="@Url.Action("Delete", "Atividade", new { id = item.IdAtividade })" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
</div>

<script type="text/javascript">
    $('#example1').DataTable({ "language": dados_translate });
</script>