@model TaCertoForms.Models.ViewModelAtividade
<!-- tab Lacuna -->
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="row">
            @using (Html.BeginForm())
            {
                @Html.TextBox("IdQuestao", null, new { @id = "tabela-de-lacunaIdQuestao", @type = "hidden" })
                <div class="form-group col-xs-12">
                    @Html.Label("Título")
                    @Html.TextBox("Titulo", null, new { @class = "form-control", @id = "tabela-de-lacunaTitulo" })
                </div>
                <div class="form-group col-xs-12">
                    @Html.Label("Enunciado")
                    @Html.TextArea("Enunciado", null, new { @class = "form-control", @id = "tabela-de-lacunaEnunciado" })
                </div>
                <div class="form-group col-xs-12">
                    @Html.Label("Peso Nota")
                    @Html.TextBox("PesoNota", null, new { @class = "form-control", @type = "number", @step = ".01", @min = "0", @max = "1", @id = "tabela-de-lacunaPesoNota" })
                </div>
                <div id="tabela-de-lacunaDivImagem" class="div-image"></div>
                <div class="form-group col-xs-12">
                    @Html.Label("Frase")
                    <div id="tabela-de-lacunaFrase" class="form-control" onfocusin="hideShadow()" onfocusout="showShadow()" onkeyup="ChangeInputTextLacuna(this, document.getElementById('tabela-de-lacunaFrase-shadow'))" contenteditable="true"></div>
                    <div id="tabela-de-lacunaFrase-shadow" class="form-control" onclick="hideandfocus()"></div>
                </div>
                <div class="form-group col-xs-12">
                    @Html.Label("Palavras Certas")
                    <div id="palavras-certas-lacuna" class="form-control" onclick="moveCursorToEnd(document.getElementById('palavras-certas-lacuna-span'))">
                        <span id="palavras-certas-lacuna-lista">
                            <span id="palavras-certas-lacuna-span" onfocusin="focusIn('palavras-certas-lacuna')" onfocusout="focusOut('palavras-certas-lacuna')" contenteditable="true" onkeydown="AddInputLacuna(this, event)" onkeyup="ChangeInputOpcoesLacuna(this, event)"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    @Html.Label("Palavras Erradas")
                    <div id="palavras-erradas-lacuna" class="form-control" onclick="moveCursorToEnd(document.getElementById('palavras-erradas-lacuna-span'))">
                        <span id="palavras-erradas-lacuna-lista">
                            <span id="palavras-erradas-lacuna-span"  onfocusin="focusIn('palavras-erradas-lacuna')" onfocusout="focusOut('palavras-erradas-lacuna')" contenteditable="true" onkeydown="AddPalavraErradaCheck(this, event)" onkeyup="AddPalavraErradaCheckLimpa(this, event)"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <input type="button" value="Adicionar" class="btn btn-success" onclick="AddQuestao('tabela-de-lacuna')" />
                </div>
            }
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <table id="tabela-de-lacuna" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th>Enunciado</th>
                    <th>Peso Nota</th>
                    <th>Ações</th>
                </tr>
            </thead>            
        </table>
    </div>
</div>

<script>    
    $('#tabela-de-lacunaFrase').mouseup(function () {        
        if (this.selectionStart != this.selectionEnd) {
            //console.log(this.selectionStart);
            //console.log(this.value.substring(this.selectionStart, this.selectionEnd));
            $('#tabela-de-lacunaCertas').append(
                new Option(this.value.substring(this.selectionStart, this.selectionEnd), this.selectionStart + '-' + this.selectionEnd, false, true)
                ).trigger('change');
        }
    });
</script>

<script>
    var CL = { //controle lacuna
        _shadow: document.getElementById('tabela-de-lacunaFrase-shadow'),
        _Frase: '',
        Fragmentos: [],
        set Frase(value){
            value = value.replace(new RegExp('<div>', 'g'), "<br>").replace(new RegExp('</div>', 'g'), "");
            if(value > 2 && value.substring(value.length-3, value.length-1) === "<br>")
                value = value.substring(0, value.length-4);
            this.Fragmentos = [];
            this._shadow.innerHTML = this._Frase = value;
            
            var elementos_selecionados = document.getElementsByClassName("close-btn-lacuna");
            for (let i = elementos_selecionados.length - 1; i >= 0; i--)
                deleteMyFather(elementos_selecionados[i]);
        },
        setFragmento: function(o, f, event){
            this.Fragmentos[this.Fragmentos.length] = { origem: o, fim: f };
            this.Fragmentos.sort(function(a, b){return a.origem - b.origem});
            var txt = this._Frase;
            for(var i = this.Fragmentos.length - 1; i >= 0; i--){
                var aux = txt.substring(0, this.Fragmentos[i].fim + 1) + "</span>" + txt.slice(this.Fragmentos[i].fim + 1);
                aux = aux.substring(0, this.Fragmentos[i].origem) + "<span class='elemento-lacuna-escolhido'>" + aux.slice(this.Fragmentos[i].origem);
                txt = aux;
            }
            this._shadow.innerHTML = txt;
            if(event && event !== null)
                event.stopPropagation();
            
            var el = document.getElementById("palavras-certas-lacuna-span");
            var s = document.createElement("span");
            s.classList.add("palavra-certa-lacuna");
            s.innerHTML = "<span class='close-btn-lacuna' onclick='CL.deleteMyFragmento(" + o + ", " + f + ", this);'>×</span>" + this._Frase.substring(o, f+1);
            el.insertAdjacentElement("beforebegin", s);
            el.innerHTML = "";
        },
        setMarcacao: function(texto_digitado){
            var copy = this.Fragmentos;
            var txt = this._Frase;
            var finalN = this._Frase.length;

            for(var i = copy.length - 1; i >= 0; i--){
                var aux = this.checkMarcacao(copy[i].fim+1, finalN, txt, texto_digitado);
                finalN = copy[i].origem - 1;
                aux = aux.substring(0, copy[i].fim + 1) + "</span>" + aux.slice(copy[i].fim + 1);
                aux = aux.substring(0, copy[i].origem) +
                    "<span class='elemento-lacuna-escolhido'>" +
                    aux.slice(copy[i].origem);
                txt = aux;
            }
            if(copy.length == 0)
                txt = this.checkMarcacao(0, finalN, txt, texto_digitado);
            else if(copy[0].origem > 0)
                txt = this.checkMarcacao(0, copy[0].origem - 1, txt, texto_digitado);
            this._shadow.innerHTML = txt;
        },
        checkMarcacao: function(o, f, txt, texto_digitado){
            var substr = txt.substring(o, f);
            if(texto_digitado != "" && texto_digitado != " "){
                var spans = [];
                while(substr.match(texto_digitado) && substr.match(texto_digitado).length > 0){
                    var lastIndex = substr.lastIndexOf(texto_digitado);
                    var _o = lastIndex + o;
                    var _f = _o + texto_digitado.length - 1;
                    spans[spans.length] = '<span class="elemento-lacuna-selecionado" onclick="CL.setFragmento(' + _o + ', ' + _f + ', event)">' + texto_digitado + '</span>';
                    substr = substr.replaceLast(
                        texto_digitado,
                        "❂"
                    );
                }
                while(spans.length > 0){
                    substr = substr.replace("❂", spans[0]);
                    spans.shift();
                }
            }
            return txt.substring(0, o) + substr +  txt.substring(f, txt.length);
        },
        deleteMyFragmento: function(o, f, el){
            for(var i = this.Fragmentos.length - 1; i >= 0; i--)
                if(this.Fragmentos[i].origem == o && this.Fragmentos[i].fim == f){
                    this.Fragmentos.splice(i, 1);
                    break;
                }
            var txt = this._Frase;
            for(var i = this.Fragmentos.length - 1; i >= 0; i--){
                var aux = txt.substring(0, this.Fragmentos[i].fim + 1) + "</span>" + txt.slice(this.Fragmentos[i].fim + 1);
                aux = aux.substring(0, this.Fragmentos[i].origem) + "<span class='elemento-lacuna-escolhido'>" + aux.slice(this.Fragmentos[i].origem);
                txt = aux;
            }
            this._shadow.innerHTML = txt;
            deleteMyFather(el);
        },
        tryAdd: function(){
            var elementos = document.getElementsByClassName("elemento-lacuna-selecionado");
            if(elementos && elementos.length === 1){
                elementos[0].click();
                return true;
            }
            return false;
        },
        AddPalavraErrada: function(txt){
            var el = document.getElementById("palavras-erradas-lacuna-span");
            var s = document.createElement("span");
            s.classList.add("palavra-errada-lacuna");
            s.innerHTML = "<span class='close-btn-lacuna' onclick='deleteMyFather(this);'>×</span>" + txt;
            el.insertAdjacentElement("beforebegin", s);
        }
    }

    function ChangeInputTextLacuna(el){
        CL.Frase = el.innerHTML;
    }

    function ChangeInputOpcoesLacuna(el, event){
        if(event.keyCode !== 13)
            CL.setMarcacao(el.innerHTML);
        else el.innerHTML = "";
    }
    function AddInputLacuna(el, event){
        if(event.keyCode === 13){
            var flag = CL.tryAdd();
            if(flag) el.innerHTML = "";
        }
    }

    function focusIn(id){
        document.getElementById(id).classList.add("highlight-lacuna");
    }
    function focusOut(id){
        document.getElementById(id).classList.remove("highlight-lacuna");
    }
    function hideShadow(){
        document.getElementById("tabela-de-lacunaFrase").style.display = "block";
        document.getElementById("tabela-de-lacunaFrase-shadow").style.display = "none";
    }
    function showShadow(){
        document.getElementById("tabela-de-lacunaFrase").style.display = "none";
        document.getElementById("tabela-de-lacunaFrase-shadow").style.display = "block";
    }
    function hideandfocus(){
        hideShadow();
        moveCursorToEnd(document.getElementById('tabela-de-lacunaFrase'));
    }
    function deleteMyFather(el){
        el.parentNode.parentNode.removeChild(el.parentNode);
    }
    function moveCursorToEnd(el) {
        el.focus();
    }
    String.prototype.reverse = function () {
        return this.split('').reverse().join('');
    };

    String.prototype.replaceLast = function (what, replacement) {
        return this.reverse().replace(new RegExp(what.reverse()), replacement.reverse()).reverse();
    };
    function AddPalavraErradaCheck(el, event){
        if(event.keyCode === 13){
            CL.AddPalavraErrada(el.innerText);
            el.innerHTML = "";
        }
    }
    function AddPalavraErradaCheckLimpa(el, event){
        if(event.keyCode === 13)
            el.innerHTML = "";
    }
</script>

<script>
    function GetJsonLacuna(){
        if(CL._Frase == "" && CL.Fragmentos.length == 0)
            return;

        var palavras_certas = document.getElementsByClassName("palavra-certa-lacuna");
        var palavras_erradas = document.getElementsByClassName("palavra-errada-lacuna");
        var Lacuna = {
            frase: [],
            alternativa: []
        }

        var frase_aux = CL._Frase;
        if(CL.Fragmentos[0].origem != 0){
            Lacuna.frase[0] = {
                isTexto: true,
                texto: frase_aux.substring(0, CL.Fragmentos[0].origem)
            }
        }
        for (let i = 0; i < CL.Fragmentos.length; i++) {
            Lacuna.alternativa[Lacuna.alternativa.length] = {
                index: [Lacuna.frase.length],
                texto: frase_aux.substring(CL.Fragmentos[i].origem, CL.Fragmentos[i].fim+1)
            }
            Lacuna.frase[Lacuna.frase.length] = {
                isTexto: false,
                texto: ""
            }
            Lacuna.frase[Lacuna.frase.length] = {
                isTexto: true,
                texto: frase_aux.substring(CL.Fragmentos[0].fim + 1, CL.Fragmentos[i+1] !== undefined ? CL.Fragmentos[i+1].origem : frase_aux.length)
            }
        }
        for (let i = 0; i < palavras_erradas.length; i++) {
            Lacuna.alternativa[Lacuna.alternativa.length] = {
                index: [-1],
                texto: palavras_erradas[i].innerText.substring(1, palavras_erradas[i].innerText.length)
            }
        }


        console.log(Lacuna);
        return Lacuna;
    }

    CL.LacunaReset = function(){
        CL._Frase = "";
        CL._shadow.innerHTML = "";
        CL.Fragmentos = [];
        var elementos_selecionados = document.getElementsByClassName("close-btn-lacuna");
        for (let i = elementos_selecionados.length - 1; i >= 0; i--)
            deleteMyFather(elementos_selecionados[i]);
        document.getElementById("tabela-de-lacunaFrase").innerHTML = "";
        document.getElementById("tabela-de-lacunaFrase-shadow").innerHTML = "";
    }
    CL.PovoaLacuna = function(q){
        CL.LacunaReset();
        CL._Frase = (()=>{
            var aux = "";
            for (let i = 0; i < q.frase.length; i++) {
                if(q.frase[i].isTexto)
                    aux += q.frase[i].texto;
                else{
                    for (let j = 0; j < q.alternativa.length; j++) {
                        for (let k = 0; k < q.alternativa[j].index.length; k++) {
                            if(q.alternativa[j].index[k] == i)
                                aux += q.alternativa[j].texto;
                        }
                    }
                }
            }
            return aux;
        })();

        var aux = "";
        for(let i = 0; i < q.frase.length; i++){
            if(!q.frase[i].isTexto){
                for(let j = 0; j < q.alternativa.length; j++){
                    for(let k = 0; k < q.alternativa[j].index.length; k++){
                        if(q.alternativa[j].index[k] == i){
                            CL.setFragmento(aux.length, aux.length + q.alternativa[j].texto.length - 1);
                        }
                    }
                }
            }
            else{
                aux += q.frase[i].texto;
            }
        }

        for(let i = 0; i < q.alternativa.length; i++){
            if(q.alternativa[i].index.length == 1 && q.alternativa[i].index[0] == -1)
                CL.AddPalavraErrada(q.alternativa[i].texto)
        }
    }
</script>