@model TaCertoForms.Models.ViewModelAtividade
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="row">
            @using (Html.BeginForm())
            {
                @Html.TextBox("IdQuestao", null, new { @id = "tabela-de-colunaIdQuestao", @type = "hidden" })
                <div class="form-group col-xs-12">
                    @Html.Label("Título")
                    @Html.TextBox("Titulo", null, new { @class = "form-control", @id = "tabela-de-colunaTitulo" })
                </div>
                <div class="form-group col-xs-12">
                    @Html.Label("Enunciado")
                    @Html.TextArea("Enunciado", null, new { @class = "form-control", @id = "tabela-de-colunaEnunciado" })
                </div>
                <div class="form-group col-xs-12">
                    @Html.Label("Peso Nota")
                    @Html.TextBox("PesoNota", null, new { @class = "form-control", @type = "number", @step = ".01", @min = "0", @max = "1", @id = "tabela-de-colunaPesoNota" })
                </div>
                <div id="tabela-de-colunaDivImagem" class="div-image"></div>
                <div class="form-group col-xs-12">
                    @Html.Label("Número de linhas")
                    @Html.TextBox("NumeroLinhas", "0", new { @class = "form-control", @type = "number", @id = "tabela-de-colunaNumeroLinhas" })
                </div>
                <div class="linhas-input" id="ID_COLUNAS"></div>

                <div class="form-group col-xs-12">
                    <input type="button" value="Adicionar" class="btn btn-success" onclick="AddQuestao('tabela-de-coluna')" />
                </div>
            }
        </div>
            </div>
    <div class="col-xs-12 col-md-6">
        <table id="tabela-de-coluna" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th>Enunciado</th>
                    <th>Peso Nota</th>
                    <th>Ações</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

