@{
    Layout = "~/TaCertoForms/Views/Layouts/CriarFaseLayout.cshtml";
}
<div class="container center-align">
    <br>
    <br>
    <h4>Aqui estarão listadas as fases que eu criei.</h4>
    <br>
    <div class="row s12 m12 l12 ">
        <ul class="collection">
            @{
                foreach (var @fase in @ViewBag.listaFases){
                    <li class="collection-item">
                        <div>
                            @fase.Chave @fase.Descricao
                            <a href="#modal1" class="secondary-content modal-trigger" onclick="taQuerendoApagarFase('@fase.Id')">
                                <i class="material-icons">clear</i>
                            </a>
                            <a href="#!" class="secondary-content rightSpace" onclick="chamaTelaEditar('@fase.Id')">
                                <i class="material-icons">edit</i>
                            </a>
                            <a href="#info-fase-modal" class="secondary-content modal-trigger rightSpace" onclick="trocaIndexFase('@fase.Chave', '@ViewBag.listaFasesJson');">
                                <i class="material-icons">visibility</i>
                            </a>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
    <br>
    <br>
</div>

<!-- Modal de Informações de fase -->
<div id="info-fase-modal" class="modal modal-fixed-footer modal-fixed-header">
    <div class="modal-header">
        <h5 class="leftSpace">
            Fase: <span id="indexFase"></span>
        </h5>
    </div>
    <div class="modal-content">
        <ul class="collection" id="myQuestions"></ul>
        <p class="bottomSpace">Essa fase foi jogada 3423 vezes</p>
    </div>
    <div class="modal-footer" id="footerButtons">        
        <a href="#!" class="waves-effect waves-green btn-flat" onclick="chamaTelaEditar()">
            <i class="material-icons">edit</i>
        </a>
        <a href="#!" class="modal-close waves-effect waves-red btn-flat">
            <i class="material-icons">clear</i>
        </a>
    </div>
</div>

<!-- Modal Pergunta se quer apagar mesmo -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Apagar Fase</h4>
        <h6>Você deseja mesmo apagar a fase <span id="idFaseParaApagar"></span>?</h6>
    </div>

    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Sim</a>
        <a href="#!" class="modal-close waves-effect waves-red btn-flat">Não</a>
    </div>
</div>