@{
    Layout = "~/TaCertoForms/Views/Layouts/CriarFaseLayout.cshtml";
}

<div class="container center-align">
    @ViewData["email"]<br>
    @ViewData["email"]<br>
    <h4>Aqui estaráo informações sobre o forms e os criadores.</h4>
    @ViewData["email"]<br>
    @ViewData["email"]<br>
    @ViewData["email"]<br>
    @ViewData["email"]<br>
    @ViewData["email"]<br>
    @ViewData["email"]<br>
    @ViewData["email"]<br>
    <br>
</div>