@model tacertoforms.Models.Turma

@{
    ViewBag.Title = "Create";
}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Criação de Turmas
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Início</a>
            </li>
            <li class="active">
                <a href="@Url.Action("Index", "Turmas")">Turmas</a>
            </li>
        </ol>
    </section>

    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Novo Registro</h3>
                <a href="@Url.Action("Index", "Turmas")" class="btn btn-sm btn-default btn-flat pull-right">Voltar</a>
            </div>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="box-body">
    <div class="col-xs-6">
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group col-xs-12">
                @Html.Label("Instituicao")  
                @Html.DropDownListFor(model => model.IdInstituicao, ViewBag.InstituicaoList as SelectList, "--select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdInstituicao, "", new { @class = "error" })
            </div>

            <div class="form-group col-xs-12">
                @Html.Label("Série")
                @Html.EditorFor(model => model.Serie, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Serie, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-xs-12">
                @Html.Label("Período")
                @Html.EnumDropDownListFor(model => model.Periodo, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Periodo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
                </div>
                <div class="box-footer">
                    <input type="submit" value="Salvar" class="btn btn-primary pull-right" />
                </div>
            }
        </div>
    </section>
</div>